@import "../../style/_vars";

.carousel {
	position: relative;
	width: 850px;
	height: 600px;
	border: 3px solid #000;
	.agoodname-image {
		width: 100%;
		height: 100%;
	}

	.panel {
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		width: 35%;
		background-color: rgba(211, 238, 255, 0.6);

		.text-entry {
			height: 90%;
			width: 100%;
		}

		.control-panel {
			height: 10%;
			width: 100%;
			display: flex;
			flex-direction: row;
			* {
				flex: 1 1 auto;
				width: 100%;
			}
		}
	}
}